*   {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

header h1 {
    align-items: center;
    background-color: rgba(56, 230, 3, 0.644) ;
    justify-content: center;
    display: flex  ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}

header p {
    align-items: center;
    background-color: rgba(56, 230, 3, 0.644);
    justify-content: center;
    display: flex  ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;    
}
#btpontos {
    background-color: transparent;
    border: none;
}