*   {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/selvabg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


header h1 {
    align-items: center;
    background-color: rgba(56, 230, 3, 0.644) ;
    justify-content: center;
    display: flex  ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    z-index: 1;
}

header p {
    align-items: center;
    background-color: rgba(56, 230, 3, 0.644);
    justify-content: center;
    display: flex  ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;    
    padding: 15px;
    margin-bottom: 20px;
}

#btpontos {
    background-color: transparent;
    border: none;
}

main {
    display: flex;
    justify-content: space-evenly;
}

#body1 {
    padding: 3% 5% 5% 5%;
    border: 2px solid black;
    width: 40%;
    justify-content: flex-start;
    text-align: center;
    border-radius: 20px;
    background-color: antiquewhite;
}


#body2 {
    width: 30%;
    text-align: center;
    justify-content: center;
    display: block;
    border: 2px solid black;
    padding: 2%;
    border-radius: 20px;
    background-color: antiquewhite;
}

.loja {
    padding: 10px 0px 10px 0px;
}

.primeirocusto {
    padding-bottom: 8px;
}

.segundocusto {
    padding-bottom: 8px;
}

.terceirocusto {
    padding-bottom: 8px;
}

.quantpoder {
    padding: 8px;
}

#quanto2 {
    padding: 5px 0px 5px 0px;
}

#quanto3 {
    padding-bottom: 8px;
}

#mostraPontos {
    padding-bottom: 5px;
}

#poderClique {
    padding-bottom: 5px;
}

#pontoSegundo {
    padding-bottom: 10%;
}

footer {
    margin-top: 20px;
}
.BTUP {
    padding: 2%;
    border-radius: 20px;
    width: 90%;
}
.nameUP{
    font-size: 162%;
}
.nameUP,.custloja {
    display: block;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 8px;
}

.custo {
    background-color:rgba(56, 230, 3, 0.644);
    border-radius: 20px;
    padding: 2%;
    margin: 2%;
}

