*   {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

header h1 {
    align-items: center;
    background-color: rgba(56, 230, 3, 0.644) ;
    justify-content: center;
    display: flex  ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}

header p {
    align-items: center;
    background-color: rgba(56, 230, 3, 0.644);
    justify-content: center;
    display: flex  ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;    
    padding: 15px;
    margin-bottom: 15px;
}

#btpontos {
    background-color: transparent;
    border: none;
}

main {
    display: flex;
    justify-content: space-evenly;
}

#body2 {
    width: 30%;
    justify-items: flex-end;
    justify-content: end;
    text-align: center;
    display: block;
}